programa
{
	funcao inicio()
	{
		inteiro n=7

		para(inteiro l=0;l<n;l++){
			para(inteiro c=0;c<n;c++){
				se(l==c ou l+c==n-1){
					escreva("X ")
				}
				senao{
					escreva("  ")
					
				}
			}
			escreva("\n")
		}
		
	}
}
